<div>
  <h2>Lista de Proveedores</h2>
  <input [(ngModel)]="filtro" placeholder="Filtrar por nombre" />
  <button (click)="loadProveedores()">Refrescar</button>
</div>

<ul>
  <li *ngFor="let proveedor of getFilteredProveedores()">
    {{ proveedor.nombre }}
    <button (click)="deleteProveedor(proveedor.idProveedor)">Eliminar</button>
    <button [routerLink]="['/proveedores/editar', proveedor.idProveedor]">Editar</button>
  </li>
</ul>

<div>
  <a routerLink="/proveedores/nuevo">Agregar Nuevo Proveedor</a>
</div>
