<div class="popup-background" *ngIf="turno">
  <div class="popup-content">
    <h4>Productos Asociados</h4>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of turno.detalles">
          <td>{{ getNombreProducto(detalle.idProducto) }}</td> <!-- Mostrar nombre del producto -->
          <td>{{ detalle.cantidad }}</td>
        </tr>
      </tbody>
    </table>

    <div class="popup-actions">
      <button class="btn close" (click)="cerrarPopup()">Cerrar</button>
    </div>
  </div>
</div>
