<div class="table-container">
  <h2>Lista de Recepción de Turnos</h2>

  <!-- Filtro de fecha único -->
  <div class="filtro-fecha">
    <label for="fechaFiltro">Fecha</label>
    <input type="date" id="fechaFiltro" [(ngModel)]="fechaFiltro">
    <button class="btn" (click)="filtrarPorFecha()">Filtrar</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Inicio Agendamiento</th>
        <th>Fin Agendamiento</th>
        <th>Proveedor</th>
        <th>Estado</th>
        <th>Jaula</th>
        <th>Hora Inicio Recepción</th>
        <th>Hora Fin Recepción</th>
        <th>Acciones</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnosFiltrados">
        <td>{{ turno.horaInicioAgendamiento }}</td>
        <td>{{ turno.horaFinAgendamiento }}</td>
        <td>{{ proveedores[turno.idProveedor] || 'N/A' }}</td>
        <td>{{ turno.estado }}</td>
        <td>{{ turno.idJaula ? jaulas[turno.idJaula] || 'Sin Asignar' : 'Sin Asignar' }}</td>
        <td>{{ turno.horaInicioRecepcion ? turno.horaInicioRecepcion : 'N/A' }}</td>
        <td>{{ turno.horaFinRecepcion ? turno.horaFinRecepcion : 'N/A' }}</td>
        <td>
          <button *ngIf="turno.estado === 'pendiente'" class="btn btn-accion" (click)="iniciarRecepcion(turno)">
            Iniciar Recepción
          </button>
          <button *ngIf="turno.estado === 'en recepcion'" class="btn btn-finalizar" (click)="finalizarRecepcion(turno)">
            Finalizar Recepción
          </button>
        </td>
        <td>
          <button class="btn btn-detalle" (click)="verDetalles(turno)">
            Ver Detalles
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Popup para seleccionar la jaula al iniciar la recepción -->
  <app-recepcion-popup *ngIf="mostrarPopup" 
    [turnoSeleccionado]="turnoSeleccionado" 
    [esFinalizacion]="esFinalizacion" 
    (aceptar)="onPopupAceptar($event)">
  </app-recepcion-popup>

  <!-- Popup para mostrar los detalles del turno -->
  <app-recepcion-detalle-popup *ngIf="mostrarDetallePopup" 
    [turno]="turnoSeleccionado" 
    (cerrar)="cerrarDetallePopup()">
  </app-recepcion-detalle-popup>
</div>
